<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
<<<<<<< HEAD
        <h1>Info Page</h1>
        <p>This is the info page:</p>
=======
        <h1>Hello World</h1>
        <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
>>>>>>> e7f22f80dd70a0e7886d02234f22690a93ed1ca6
    </body>
</html>